.blogHead{
    display: flex;
  justify-content: center;
    overflow-x: auto;
}
.blogHead::-webkit-scrollbar{
    width:0;
}
.blogImg{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.catName{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#5d5757;
}
.blogdataerrmessage{
    font-family: cursive;
}
.blogCat{
    margin: 1rem 1.2rem;

    cursor: pointer;
    display: flex;
   align-items: center;
    flex-direction: column;
}
.imgBlogData{
    object-fit: cover;
    width: 95%;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}
.blogDataParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 3rem;
}

.blogData{
    width: 22vw;
    margin: 2rem 0rem;
}
.titleBlog{
    width: 95%;
    color:#3b4c59;
}
.descriptionBlog{
    width: 95%;
    font-family: 'Noto Sans', sans-serif;
    color: #72757b;
    word-wrap: break-word;
}
.blogCat:hover{
    border-bottom: 2px solid #c2c8d3;
}
.blogCat:hover >p{
    margin-bottom: 0;

}
.blogCatActive{
    border-bottom: 2px solid #72757b;
    margin: 1rem 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
     flex-direction: column;
}
.blogCatActive >p{
    margin-bottom: 0;
}


@media  screen and (max-width: 450px) {
    .blogData{
width: 80vw;
    }
    .blogHead{
        justify-content: flex-start;
    }
}