.headerBlog{
    display: flex;
    
    margin: 1rem 2rem;
}

.logoutbtn{
    border-style: none;
    background: #ff385c;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0px 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.username{
    margin: 1rem 2rem;
    font-family: cursive;

}