.headerBlog{
    display: flex;
    
    margin: 1rem 2rem;
}

.userImage{
    width: 50px;
}
.logoutbtn{
    border-style: none;
    background: #ff385c;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0px 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.username{
    margin: 1rem 2rem;
    font-family: cursive;

}

@media screen and (max-width:450px){
    .logoutbtn{
        padding:10px 15px;
        margin: 0 2%;
        font-size:8px;
    }
    .headerBlog{
        margin:1rem;
    }
    .userImage{
        width: 30px;
        height: 30px;
    }
    .username{
        margin: 0.5rem 1rem;
        font-family: cursive;
        font-size: 12px;
    }
}